body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo {
    color: #FF00BF; /* Pink */
    font-size: 80px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    transition: all 2s ease;
    cursor: pointer;
}

.logo:hover {
    color: yellow;
    transform: scale(1.1);
    letter-spacing: 6px;
}
